<div id="submenu">
  <h4 class="title">All Parts</h4>
</div>
<div class="link_add large-12 columns">
  <%= link_to 'Add Part', new_part_path, :class => 'btn sign_in button left' %>
</div>
<table class="large-12 columns">
  <thead>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Title</th>
      <th>Description</th>
      <th>Part number</th>
      <th>Equipment Type</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @parts.each do |part| %>
      <tr>
        <td><%= link_to part.id, part %></td>
        <td><%= link_to part.image_url, part %></td>
        <td><%= link_to part.title, part %></td>
        <td><%= part.description %></td>
        <td><%= link_to part.number, part %></td>
        <td><%= part.product.title %></td>
        
        <td><%= link_to 'Full Details', part, :class => 'btn sign_in button' %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


