<p>
  <strong>Name : </strong>
    <%= store.name %>
  </p>
  <p>
    <strong>Location : </strong>
    <%= store.location %>
  </p>
  <p>
    <strong>Store Keeper : </strong>
    <%= store.store_keeper %>
  </p>
  <p>
    <strong>Quantity of Parts : </strong>
    <%= store.quantity %>
  </p>
  <p>
    <strong>Time Received : </strong>
    <%= store.time_received %>
  </p>
  <p>
  
</p>
  <hr>