<p>
	<strong> Name :  </strong>
    <%= consumable_properties.name %>
    </p> 
    <p>
    	<strong>Manufacturer : </strong>
    <%= consumable_properties.manufacturer %>
  </p>
   <p>
    	<strong>Designer : </strong>
    <%= consumable_properties.designer %>
  </p>
   <p>
    	<strong>Description : </strong>
    <%= consumable_properties.description %>
  </p>
   <p>
    	<strong>Ordered Date : </strong>
    <%= consumable_properties.date_ordered %>
  </p>
   <p>
    	<strong>Date Received : </strong>
    <%= consumable_properties.date_received %>
  </p>
  <p>
  
</p>
  <hr>