<div id="submenu">
  <h4 class="title">All Equipment</h4>
</div>
<div id="notice"><%= notice %></div>
<div id= "request" class= "right">
<%= render @request %>
</div>
<%= form_tag products_path, :method => 'get' do %>
  <table class="large-3 columns">
    <tr>
      <td class="small-10 columns">
    <%= text_field_tag :search, params[:Search], :class => 'left' %>
  </td>
  <td class="small-2 columns">
    <%= submit_tag 'Search', :title => nil, :class => 'btn sign_in button left right' %>
  </td></tr>
</table>
  <% end %>
<table class="large-12 columns">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.id, product %></td>
        <td><%= link_to product.title, product %></td>
        <td><%= sanitize product.description %></td>
        <td><%= button_to "Add to Request", line_items_path(:product_id => product), :class => 'btn sign_in button', :remote => true %></td>
        <!-- <td><%= link_to "Subcategory", products_show_subcategory_path, :class => 'btn sign_in button' %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
<div class="large-12 columns">
<%= paginate @products %>
</div>
<br>


