<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Dextron IMS</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
  <ul class="right">
     <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
        <li><%= link_to current_user.email, edit_user_registration_path  %>
      
        </li>

    </ul>
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
      <%= link_to "Equipments", products_path %>
      <ul class="dropdown">
      <li>
        <%= link_to "Make Request", "#" %>
      </li>
      </ul>
      </li>
      
      <li class="has-dropdown">
      <%= link_to "Parts", parts_path %>
      <ul class="dropdown">
      <li>
        <%= link_to "Make Request", "#" %>
      </li>
      </ul>
      </li>
      <li class="has-dropdown">
      <%= link_to "Consumables", consumables_path %>
      <ul class="dropdown">
      <li>
        <%= link_to "Make Request", "#" %>
      </li>
      </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    
  </section>
</nav>