<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Dextron IMS</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="left">
      <li class="has-dropdown">
      <%= link_to "Equipments", products_path %>
      <ul class="dropdown">
      <li>
        <%= link_to "Make Request", "#" %>
      </li>
      </ul>
      </li>
      
      <li class="has-dropdown">
      <%= link_to "Parts", parts_path %>
      <ul class="dropdown">
      <li>
        <%= link_to "Make Request", "#" %>
      </li>
      </ul>
      </li>
      <li class="has-dropdown">
      <%= link_to "Consumables", consumables_path %>
      <ul class="dropdown">
      <li>
        <%= link_to "Make Request", "#" %>
      </li>
      </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="right">
      <li><a href="#">User Email</a></li>
    </ul>
  </section>
</nav>